.register-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .floating-container{
        padding: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    
    
        background-color:  #d2d2d2;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0,0,0,0.2);

        


    }    
}

.login-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .floating-container{
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    
        background-color:  #d2d2d2;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0,0,0,0.2);
    }    
}